[submodule "ThirdParties/stb"]
	path = ThirdParties/stb
	url = https://github.com/nothings/stb.git
[submodule "ThirdParties/tinyobjloader"]
	path = ThirdParties/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "ThirdParties/imgui"]
	path = ThirdParties/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParties/rapidjson"]
	path = ThirdParties/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "ThirdParties/tinygltf"]
	path = ThirdParties/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "ThirdParties/ktx"]
	path = ThirdParties/ktx
	url = https://github.com/KhronosGroup/KTX-Software.git
[submodule "ThirdParties/FidelityFX-CACAO"]
	path = ThirdParties/FidelityFX-CACAO
	url = https://github.com/GPUOpen-Effects/FidelityFX-CACAO.git
