[submodule "stb"]
	path = stb
	url = https://github.com/nothings/stb.git
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParties/rapidjson"]
	path = ThirdParties/rapidjson
	url = https://github.com/Tencent/rapidjson.git
