[submodule "ThirdParties/stb"]
	path = ThirdParties/stb
	url = https://github.com/nothings/stb.git
[submodule "ThirdParties/tinyobjloader"]
	path = ThirdParties/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "ThirdParties/imgui"]
	path = ThirdParties/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParties/rapidjson"]
	path = ThirdParties/rapidjson
	url = https://github.com/Tencent/rapidjson.git
